<li id="comment-<%= comment._id %>"> 
    <p>
        <!-- Delete option for comments -->
        <% if (locals.user && locals.user.id == comment.user.id) { %>                                                   <!--.id converts into string format-->                               
            <!-- Delete option should be visible only if the user is signed in(i.e locals.user) and the user signed in(locals.user.id) is same as the user who has created the post(post.user.id) -->
            <small>
                <a class="delete-comment-button" href="/comment/destroy/<%= comment.id %>">X</a>
            </small>
        
        <% } %>  
        <%= comment.content %>
        <br>
        <small>
            <%= comment.user.name%>
        </small>
         
        <!-- CHANGE :: display the likes of this comment, if the user is logged in, then show the link to toggle likes, else, just show the count -->
        <!-- study about the data attribute -->
        <small>
            <% if (locals.user){ %>
                <i class="far fa-thumbs-up" style="color: blue;"></i>
                <a class="toggle-like-button" data-likes="<%= comment.likes.length %>" href="/likes/toggle/?id=<%=comment._id%>&type=Comment"  style="text-decoration: none;">
                     <%= comment.likes.length %> 
                </a>
            <% }else{ %>
                <i class="far fa-thumbs-up"></i> <%= comment.likes.length %>
            <% } %>
        </small>
    
   </p>

</li>