<!-- this entire list item is a post -->

<li id="post-<%= post._id%>">
                 <!-- when I need to delete this post we need to recognize it.. that why we're giving it an id -->
    <p>
        <% if (locals.user && locals.user.id == post.user.id) { %>                                                   <!--.id converts into string format-->                               
            <!-- Delete option should be visible only if the user is signed in(i.e locals.user) and the user signed in(locals.user.id) is same as the user who has created the post(post.user.id) -->
            <small>
                <a href="/posts/destroy/<%= post.id %>" class="delete-post-button ">X</a>
            </small>
      <% } %>  
    
    
        <%= post.content%>
        <br>
        <small><%= post.user.name %></small><br>
       
        <%  if (locals.user){ %>
            <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%=post._id%>&type=post" id="likebtn"><%= post.likes.length %> Likes</a>
          
       <% }else{ %>
            <small> <%= post.likes.length %> Likes</small>
        <% } %>
       
     </p>
    
         <!-- comment form -->
         <div id="post-comment">
          <%  if (locals.user){ %>
              <form action="/comment/create" id="new-comment-form" method="POST">
                  <input type="text" name="content" placeholder="Type Here to add comment...">
                  <!-- sending id of the post to which the comment belongs to in a hidden manner -->
                  <input type="hidden" name="post" value="<%= post._id%>">
                  <input type="submit" value="Add comment">
              </form>
              <% } %>  
    
    <!-- 
              displaying comments and author name
              prepopulated the comments and user -->
              <div id="post-comments-list">
                  <ul id="post-comments-<%= post._id %>">
                      <% for (comment of post.comments) { %>
                          <p>
                              <%- include('_comment') -%>
                          </p>
                      <% } %>
                  </ul>
              </div>
    
         </div>
    
    
</li> 
