<!-- all the view files will be rendered according to this layout -->
<html>
<head>
  <!-- This will be the common styling to all the files that are rendered using this layout --> 
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <%- style %>
</head>
<body>
  <%- include('_header') %>
  <main id="layout-main">
    <%- body %> 
  </main>
   
    <!-- Here body represents the bodypart of the view file that is going to be rendered -->
  <%- include('_footer') %>
  <%- script %>
</body>


</html>

