<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="<%= assetPath('css/user_profile.css') %>" > 
    </head>
    <body>
        <!-- <- include('_header') %> -->
        <!-- as I've already included my header and footer in layout.ejs that's why I'm omitting(bcoz it's appering twice) this part in body part  -->
        <h1>Hey <%= title%>, you've got <%= number %> users </h1>
       

        <!-- as we've set the user in res.locals(after authentication) we're now able to access users data -->
       

       <% if (profile_user.id == user.id ){%>

         <!-- 
        displaying avatar of the user -->
         <img src="<%= user.avatar %>"  alt="<%= user.name %>" width="100"  >    <br> 
           <!-- this will not work bcoz we haven't defined the route.. the server is not able to find the image when the browser asks for it -->

        <p> <%= profile_user.name %></p> 
        <p> <%= profile_user.email %> </p>


        <!-- user matches then show the form. Here we're only providing option for updating name and email,not password -->
        <h2>Update Profile</h2>
         
         <form action="/users/update/<%= profile_user.id%>"  enctype="multipart/form-data"  method="POST">
                
                <input type="text" name="name" value="<%=profile_user.name%>" placeholder="Your Name.." required>
            
                <input type="email" name="email" value="<%=profile_user.email %>" placeholder="Your Email.." required>
                  <!-- Here we've initialized name and email with the existing name and email. which is going to be updated -->
            
                <input type="file" name="avatar" placeholder="Profile Picture">
                <input type="submit" value="Update">
        </form>
        
       <%}else{ %>
           <!-- show only the user's profile info -->
           <p> <%= profile_user.name %></p> 
           <p> <%= profile_user.email %> </p>
       <%} %>

    </body>
</html>